<!-- north -->
<header>
<div class="row" >
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ui-view="north"></div>
</div>
</header>
<!-- /north -->

<!-- west center east -->
<main>
<div class="row" >
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"   ui-view="center"></div>
</div>
</main>
<!-- /west center east -->

<!-- south -->
<footer>
<div class="row" >
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"   ui-view="south"></div>
</div>
</footer>
<!-- /south -->
<!-- class="col-lg-12 col-md-12 col-sm-12 col-xs-12" -->