<section >
  <form  role="form" name="loginForm">
    
     <div >
      <div> 
        <div ng-show="errMsg"  class="nga-default nga-stagger nga-rotate-up" >
          <h4 class="alert alert-danger alert-dismissible" >
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              {{errMsg | translate }}
          </h4>
        </div>
      </div>
    </div>

    
    <div> 
      <h3 class="topic">{{'LOGIN_LBL' | translate}}</h3>
    </div>

    <div>
      <div class="left-inner-addon"> 
        <i class="glyphicon glyphicon-user"></i>
        <input type="text" class="form-control" name="username" required ng-model="credentials.username"  size="30" ng-pattern="/^(\D)+$/" ng-maxlength="30" placeholder="{{'USERNAME_LBL' | translate}}"  />
        <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$dirty" ng-messages-include="partials/error/validationMessages.html"  class="error-messages"  >
          <div ng-message="required">{{'USERNAME_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div> 
    <div>
      <div>&nbsp;</div>
    </div>
    <div>
      <div > 
        <input type="password" class="form-control" name="password" required ng-model="credentials.password"  placeholder="{{'PASSWORD_LBL' | translate}}"  />
        <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty" ng-messages-include="partials/error/validationMessages.html"  class="error-messages"  >
          <div ng-message="required">{{'PASSWORD_REQUIRED' | translate}}</div>
        </div>
      </div>
    </div> 
    <div>
      <div>&nbsp;</div>
    </div>     
    <div>
      <div> 
          <input  ng-click="loginFeature()" class="btn btn-primary" type="submit" value="{{'LOGIN_LBL' | translate}}" ng-disabled="loginForm.$invalid"/>
          <a ui-sref="signupPageState" >{{'SIGNUP_LNK' | translate}}</a>
      </div>
    </div>
  </form>
</section>  
